<div class="search">
  <mat-form-field appearance="outline" class="search-frame">
    <mat-label class="search-input">Search</mat-label>
    <input matInput [(ngModel)]="searchQuery" placeholder="Search" [formControl]="searchControl">
  </mat-form-field>

  <div class="result">
    Result
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>

  <div *ngIf="!isLoading && posts.length > 0" class="grid-container"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50">
    <div class="masonry-container">
      <div class="masonry-item" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && posts.length === 0" class="no-results">
    No posts found.
  </div>
</div>
